<div id="cratePort" class="container">
  <div class="col-12">
    <h1 class="mb-4">Crate Port</h1>
    <div id="platformSection" class="d-flex align-items-center mb-3">
      <div class="form-label">
        <label>Platform:</label>
      </div>
      <select
        name="platformSelect"
        id="platformSelect"
        class="form-select me-2"
      >
        <option value="">Select a platform</option>
      </select>
      <button
        onclick="fetchPlatformTypes()"
        class="btn btn-primary form-button"
        disabled
      >
        Connect
      </button>
    </div>
    <div id="portSections" class="accordion accordion-flush border d-none mb-3">
      <div class="accordion-item">
        <h2 class="accordion-header" id="importSectionHeader">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#importSectionCollapse"
            aria-expanded="true"
            aria-controls="importSectionCollapse"
          >
            Imports
          </button>
        </h2>
        <div
          id="importSectionCollapse"
          class="accordion-collapse collapse show"
          aria-labelledby="importSectionHeader"
          data-bs-parent="#accordion"
        >
          <div class="accordion-body">
            <div class="d-flex align-items-center my-2">
              <div class="form-label">
                <label>Ontology:</label>
              </div>
              <select
                name="platformTypeSelect"
                id="platformTypeSelect"
                class="form-select me-2"
              >
                <option value="">Select an ontological type</option>
              </select>
              <button
                onclick="fetchPlatformData()"
                class="btn btn-success form-button"
                disabled
              >
                Fetch
              </button>
            </div>
            <ul id="platformDataList" class="list-group mt-3"></ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="exportSectionHeader">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#exportSectionCollapse"
            aria-expanded="false"
            aria-controls="exportSectionCollapse"
          >
            Exports
          </button>
        </h2>
        <div
          id="exportSectionCollapse"
          class="accordion-collapse collapse show"
          aria-labelledby="exportSectionHeader"
          data-bs-parent="#accordion"
        >
          <div class="accordion-body">
            <div class="d-flex align-items-center my-2">
              <div class="form-label">
                <label>Samples:</label>
              </div>
              <select
                name="exportSelect"
                id="exportSelect"
                class="form-select me-2"
              ></select>
              <button
                onclick="exportData()"
                class="btn btn-success form-button"
                disabled
              >
                Export
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div id="crateSection">
      <div class="d-flex align-items-center mb-3">
        <div class="form-label">
          <label>Crates:</label>
        </div>
        <select name="crateSelect" id="crateSelect" class="form-select me-2">
          <option value="">Select a crate</option>
        </select>
        <button
          onclick="showCrate()"
          class="btn btn-primary form-button"
          disabled
        >
          View
        </button>
      </div>
      <div id="crateView" class="col-12 d-none border p-3 mb-3">
        <pre></pre>
      </div>
    </div>
  </div>
</div>
