<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>AiiDA Workflow Manager</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      .hidden {
        display: none;
      }
      .port-label {
        width: 140px;
        font-size: larger;
      }
      .port-button {
        width: 100px;
      }
    </style>
  </head>

  <body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.6.0/jszip.min.js"></script>
    <header class="container d-flex align-items-center my-3">
      <img class="me-5" src="static/logo-light.svg" alt="Logo" height="60px" />
      <h1 class="mb-0 fs-3">Workflow Manager</h1>
    </header>

    <hr />

    <div class="container">
      <div id="loading" class="text-center my-3" style="display: none">
        Loading...
      </div>
      <div
        id="error"
        class="alert alert-danger mt-3"
        style="display: none"
      ></div>
      <div class="col-12">
        <h1 class="mb-4">Data Viewer</h1>
        <div class="mb-3 d-flex align-items-center">
          <label class="fs-4 me-3">Ontology:</label>
          <select
            id="typeSelect"
            class="form-select me-2"
            onChange="fetchFilteredData()"
          ></select>
          <button
            onclick="resetData()"
            class="btn btn-danger"
            style="margin-left: 10px"
          >
            Reset
          </button>
        </div>
        <div class="table-responsive">
          <table class="table table-striped mt-3" id="dataTable">
            <thead>
              <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Title</th>
                <th>Ontology</th>
                <th>Metadata</th>
              </tr>
            </thead>
            <tbody>
              <!-- Data rows will be appended here -->
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <hr />

    <div class="container">
      <div class="col-12">
        <h1 class="mb-4">Crate Port</h1>
        <div id="platformSection" class="mb-3 d-flex align-items-center">
          <div class="port-label">
            <label>Platform:</label>
          </div>
          <select
            name="platformSelect"
            id="platformSelect"
            class="form-select me-2"
          >
            <option value="">Select a platform</option>
          </select>
          <button
            onclick="fetchPlatformTypes()"
            class="btn btn-primary port-button"
            disabled
          >
            Connect
          </button>
        </div>
        <div id="portSteps" class="mb-3"></div>
        <div id="filterSection" class="mb-3 d-none align-items-center">
          <div class="port-label">
            <label>Ontology:</label>
          </div>
          <select
            name="platformTypeSelect"
            id="platformTypeSelect"
            class="form-select me-2"
          >
            <option value="">Select a type</option>
          </select>
          <button
            onclick="fetchPlatformData()"
            class="btn btn-success port-button"
            disabled
          >
            Fetch
          </button>
        </div>
        <ul id="platformDataList" class="list-group mt-3"></ul>
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        fetchPlatforms();
        fetchData();
      });

      document
        .getElementById("platformSelect")
        .addEventListener("change", () => {
          const selectedPlatform = platformSelect.value;
          const connectButton = platformSelect.nextElementSibling;
          connectButton.disabled = !selectedPlatform;
          if (!selectedPlatform) {
            toggleFilterSection();
            updatePlatformDataList([]);
          }
        });

      document
        .getElementById("platformTypeSelect")
        .addEventListener("change", () => {
          const selectedType = platformTypeSelect.value;
          const fetchButton = platformTypeSelect.nextElementSibling;
          fetchButton.disabled = !selectedType;
        });

      function resetData() {
        fetch("/data/reset").then(
          () => {
            fetchData();
            hideError();
          },
          () => handleError("Failed to reset data.")
        );
      }

      function fetchPlatforms() {
        fetch("/platforms")
          .then((response) => response.json())
          .then((data) => {
            const platformSelect = document.getElementById("platformSelect");
            data.forEach((platform) => {
              const option = document.createElement("option");
              option.value = platform;
              option.textContent = platform;
              platformSelect.appendChild(option);
            });
          })
          .catch((error) => {
            console.error("Error:", error);
            alert("Failed to fetch RDM platforms.");
          });
      }

      function toggleLoading(isLoading) {
        const loadingElement = document.getElementById("loading");
        loadingElement.style.display = isLoading ? "block" : "none";
      }

      function handleError(message) {
        const errorElement = document.getElementById("error");
        errorElement.textContent = message;
        errorElement.style.display = "block";
        toggleLoading(false);
      }

      function hideError() {
        const errorElement = document.getElementById("error");
        errorElement.style.display = "none";
      }

      function fetchData() {
        toggleLoading(true);
        fetch("/data")
          .then((response) => response.json())
          .then((data) => {
            updateList(data);
            populateTypes(data);
            populateSelectSimulation(data);
            toggleLoading(false);
          })
          .catch((error) => handleError("Failed to fetch data."));
      }

      function populateTypes(data) {
        const types = new Set(data.map((item) => item.type));
        const typeSelect = document.getElementById("typeSelect");
        typeSelect.innerHTML = '<option value="">All</option>';
        types.forEach((type) => {
          const option = document.createElement("option");
          option.value = type;
          option.textContent = type;
          typeSelect.appendChild(option);
        });
      }

      function fetchFilteredData() {
        const selectedType = document.getElementById("typeSelect").value;
        if (selectedType) {
          toggleLoading(true);
          fetch(`/data/filter?type=${encodeURIComponent(selectedType)}`)
            .then((response) => response.json())
            .then((data) => {
              if (data.length > 0) {
                updateList(data);
                hideError();
              } else {
                handleError("No data found for the selected type.");
              }
              toggleLoading(false);
            })
            .catch((error) => handleError("Failed to fetch filtered data."));
        } else {
          fetchData();
        }
      }

      function updateList(data) {
        const tableBody = document
          .getElementById("dataTable")
          .getElementsByTagName("tbody")[0];
        tableBody.innerHTML = "";
        data.forEach((item) => {
          const row = tableBody.insertRow();
          const cellId = row.insertCell(0);
          const cellType = row.insertCell(1);
          const cellTitle = row.insertCell(2);
          const cellOnt = row.insertCell(3);
          const cellMetadata = row.insertCell(4);
          cellId.textContent = item.id;
          cellType.textContent = item.type;
          cellTitle.textContent = item.title;
          cellOnt.textContent = item.ontology;
          cellMetadata.textContent = JSON.stringify(item.metadata);
        });
      }

      function fetchPlatformTypes() {
        toggleLoading(true);
        // updateSteps("Fetching data from openBIS...");

        fetch("http://localhost:5001/data/types", {
          method: "GET",
          headers: {
            Accept: "application/zip",
          },
        })
          .then((response) => {
            if (response.ok) {
              // updateSteps("Data fetched successfully. Unzipping file...");
              return response.blob();
            }
            throw new Error("Network response was not ok.");
          })
          .then((blob) => {
            const jsZip = new JSZip();
            return jsZip.loadAsync(blob);
          })
          .then((zip) => {
            // updateSteps("Zip file unzipped. Listing files...");
            // updateSteps(JSON.stringify(Object.keys(zip.files)));
            const filename = "response.json";
            if (filename in zip.files) {
              return zip.files[filename].async("string");
            }
            throw new Error("File not found in zip");
          })
          .then((jsonString) => {
            // updateSteps("JSON extracted. Parsing data...");
            const data = JSON.parse(jsonString);
            updateTypeSelection(data);
            // updateSteps("Data parsed and UI updated.");
            toggleLoading(false);
            toggleFilterSection();
          })
          .catch((error) => {
            handleError("Failed to fetch or process data.");
            // updateSteps("Error occurred.");
          });
      }

      function updateTypeSelection(data) {
        const openbisTypes = new Set(data);
        const platformTypeSelect =
          document.getElementById("platformTypeSelect");
        platformTypeSelect.innerHTML =
          '<option value="">Select a type</option>';
        openbisTypes.forEach((type) => {
          const option = document.createElement("option");
          option.value = type;
          option.textContent = type;
          platformTypeSelect.appendChild(option);
        });
      }

      function fetchPlatformData() {
        const selectedType =
          document.getElementById("platformTypeSelect").value;
        if (selectedType) {
          toggleLoading(true);
          // updateSteps("Fetching filtered data for type: " + selectedType);
          fetch(
            `http://localhost:5001/data/filter?type=${encodeURIComponent(
              selectedType
            )}&format=ROC`
          )
            .then((response) => response.json())
            .then((data) => {
              updatePlatformDataList(data);
              // updateSteps("Filtered data fetched and displayed.");
              toggleLoading(false);
            })
            .catch((error) => {
              handleError("Failed to fetch filtered data.");
              // updateSteps("Error occurred while fetching filtered data.");
            });
        } else {
          alert("Please select a type to filter by!");
        }
      }

      function importData(item) {
        fetch("data/import", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(item),
        })
          .then((response) => {
            if (response.ok) {
              fetchData();
            } else {
              throw new Error("Failed to import data.");
            }
          })
          .catch((error) => {
            console.error("Error:", error);
            alert("An error occurred while importing data.");
          });
      }

      function updatePlatformDataList(data) {
        const list = document.getElementById("platformDataList");
        list.innerHTML = "";
        data.forEach((item) => {
          const li = document.createElement("li");
          li.className =
            "list-group-item d-flex justify-content-between align-items-center";
          const span = document.createElement("span");
          span.innerHTML = `
            <strong>ID:</strong> ${item.id}
            <strong>Ontology:</strong> ${item.ontology}
          `;
          li.appendChild(span);
          const button = document.createElement("button");
          button.className = "btn btn-outline-secondary btn-sm";
          button.textContent = "Import Data";
          button.onclick = () => {
            importData(item);
            button.disabled = true;
          };
          li.appendChild(button);
          list.appendChild(li);
        });
      }

      function updateSteps(message) {
        const stepsElement = document.getElementById("portSteps");
        const step = document.createElement("div");
        step.textContent = message;
        stepsElement.appendChild(step);
      }

      function toggleFilterSection() {
        const filterSection = document.getElementById("filterSection");
        if (filterSection.classList.contains("d-none")) {
          filterSection.classList.remove("d-none");
          filterSection.classList.add("d-flex");
        } else {
          filterSection.classList.remove("d-flex");
          filterSection.classList.add("d-none");
        }
      }
    </script>

    <hr />

    <div class="container">
      <h1 class="mb-4">Run Simulations</h1>
      <div class="col-12">
        <h3>Select an Object</h3>
        <div class="mt-4 d-flex align-items-center">
          <select id="objectSelect" class="form-select mb-3">
            <option value="">Select an Object</option>
          </select>
          <button onclick="startSimulation()" class="btn btn-warning">
            Start Simulation
          </button>
        </div>
      </div>
      <div id="sim_message" class="alert alert-success d-none"></div>
    </div>

    <script>
      // Function to start the simulation process
      function populateSelectSimulation(data) {
        const objectsList = data.filter(
          (item) =>
            item.type !== "@aiida.Simulation" && item.type !== "@aiida.Workflow"
        );
        const objectSelect = document.getElementById("objectSelect");
        objectSelect.innerHTML = '<option value="">Select an Object</option>';
        objectsList.forEach((item) => {
          const option = document.createElement("option");
          option.value = item.id; // Store item as a string in the value
          option.textContent = item.id + " - " + item.title;
          objectSelect.appendChild(option);
        });
      }

      function startSimulation() {
        const selectedObjectId = document.getElementById("objectSelect").value;

        if (!selectedObjectId) {
          alert("Please select an object to link with the simulation.");
          return;
        }

        fetch(
          `/data/start_simulation?id=${encodeURIComponent(selectedObjectId)}`,
          {
            method: "GET",
            headers: {
              "Content-Type": "application/json",
            },
          }
        )
          .then((response) => {
            if (response.ok) {
              return response.json();
            } else {
              throw new Error("Failed to start simulation.");
            }
          })
          .then((response) => displayNewObject(response))
          .catch((error) => {
            handleError("Failed to fetch or process data.");
          });
      }

      function displayNewObject(newObject) {
        const displayArea = document.getElementById("sim_message");
        displayArea.classList.remove("d-none");
        displayArea.textContent =
          "Updated Object with new simulation: " +
          JSON.stringify(newObject, null, 2);

        // Create the Export to openBIS button if it does not exist
        let exportButton = document.getElementById("exportToOpenBIS");
        if (!exportButton) {
          exportButton = document.createElement("button");
          exportButton.id = "exportToOpenBIS";
          exportButton.textContent = "Export to openBIS";
          exportButton.className = "btn btn-success mt-3";
          exportButton.onclick = () => exportToOpenBIS(newObject);
          displayArea.parentNode.insertBefore(
            exportButton,
            displayArea.nextSibling
          );
        }
      }

      // Function to create an RO-Crate and send it to another application
      function exportToOpenBIS(newObject) {
        fetch("/api/export", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(newObject),
        })
          .then((response) => {
            if (response.ok) {
              return response.json();
            } else {
              throw new Error("Failed to export to openBIS.");
            }
          })
          .then((data) => alert("Successfully exported to openBIS."))
          .catch((error) => {
            console.error("Error:", error);
            alert("An error occurred during the export to openBIS.");
          });
      }
    </script>

    <hr />

    <div class="container mt-5">
      <div class="col-12">
        <h1 class="mb-4">RO-Crate Viewer</h1>
        <form id="uploadForm1" class="mb-4">
          <input
            type="file"
            id="fileInput1"
            accept=".zip"
            class="form-control mb-2"
          />
          <button
            type="button"
            onclick="uploadRocrate()"
            class="btn btn-primary"
          >
            Upload
          </button>
        </form>
        <h2>Results:</h2>
        <pre id="result1" class="bg-light p-3 border"></pre>
      </div>
    </div>

    <script>
      function uploadRocrate() {
        const formData = new FormData();
        const fileInput = document.getElementById("fileInput1");
        const resultDiv = document.getElementById("result1");

        if (fileInput.files.length > 0) {
          formData.append("file", fileInput.files[0]);

          fetch("/upload_rocrate", {
            method: "POST",
            body: formData,
          })
            .then((response) => response.json())
            .then((data) => {
              resultDiv.textContent = JSON.stringify(data, null, 2);
            })
            .catch((error) => {
              console.error("Error:", error);
              resultDiv.textContent = "Failed to upload and process the file.";
            });
        } else {
          resultDiv.textContent = "Please select a file to upload.";
        }
      }
    </script>
  </body>
</html>
