<!DOCTYPE html>
<html lang="en">

  {% with title="AiiDA Workflow Manager" %}
    {% include "head.html" %}
  {% endwith %}

  <body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.6.0/jszip.min.js"></script>

    {% with src="logo-light.svg", title="Workflow Manager" %}
      {% include "banner.html" %}
    {% endwith %}

    <hr />

    {% include "data-viewer.html" %}

    <hr />

    {% include "crate-port.html" %}

    <hr />

    {% include "simulations.html" %}

    <hr />

    {% include "scripts.html" %}

  </body>
</html>
