.hidden {
  display: none;
}

.btn-primary {
  background-color: blueviolet;
}

.btn-success {
  background-color: cadetblue;
}
.form-label {
  width: 140px;
  font-size: larger;
}
.form-button {
  width: 100px;
}
