.hidden {
  display: none;
}

.form-label {
  width: 140px;
  font-size: larger;
}

.form-button {
  width: 100px;
}

.metadata-toggler {
  width: 40px;
}

#importSection,
#exportSection {
  margin: 1em -1em;
  padding: 1em;
}

pre {
  margin: 0;
  white-space: pre-wrap;
}
