.hidden {
  display: none;
}

.form-label {
  width: 140px;
  font-size: larger;
}

.form-button {
  width: 100px;
}

.metadata-toggler {
  width: 40px;
}

.accordion-button {
  font-size: 0.75em;
  font-weight: bold;
}

pre {
  margin: 0;
  white-space: pre-wrap;
}
