<div id="cratePort" class="container">
  <div class="col-12">
    <h1 class="mb-4">Crate Port</h1>
    <div id="platformSection" class="mb-3 d-flex align-items-center">
      <div class="form-label">
        <label>Platform:</label>
      </div>
      <select name="platformSelect" id="platformSelect" class="form-select me-2">
        <option value="">Select a platform</option>
      </select>
      <button
        onclick="fetchPlatformTypes()"
        id="connectButton"
        class="btn btn-primary form-button"
        disabled
      >
        Connect
      </button>
    </div>
    <div id="portSteps" class="mb-3"></div>
    <div id="filterSection" class="mb-3 d-flex d-none align-items-center">
      <div class="form-label">
        <label>Ontology:</label>
      </div>
      <select
        name="platformTypeSelect"
        id="platformTypeSelect"
        class="form-select me-2"
      >
        <option value="">Select a type</option>
      </select>
      <button
        onclick="fetchPlatformData()"
        id="fetchButton"
        class="btn btn-success form-button"
        disabled
      >
        Fetch
      </button>
    </div>
    <ul id="platformDataList" class="list-group mt-3"></ul>
  </div>
</div>
