<!DOCTYPE html>
<html lang="en">

  {% with title="openBIS ELN/LIMS" %}
    {% include "head.html" %}
  {% endwith %}

  <body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.6.0/jszip.min.js"></script>

    {% with src="openBIS_Logo.png", title="Lab Notebook & Inventory Manager" %}
      {% include "banner.html" %}
    {% endwith %}

    <hr />

    {% include "data-viewer.html" %}

    <hr />

    {% include "crate-port.html" %}

    <hr />

    {% include "scripts.html" %}

  </body>
</html>
